<%= form_with(model: feature_active_record_parent, local: true) do |form| %>
  <% if feature_active_record_parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature_active_record_parent.errors.count, "error") %> prohibited this feature_active_record_parent from being saved:</h2>

      <ul>
      <% feature_active_record_parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
