<%= form_with(model: feature_active_record_parent, local: true) do |form| %>
  <% if feature_active_record_parent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feature_active_record_parent.errors.count, "error") %> prohibited this feature_active_record_parent from being saved:</h2>

      <ul>
      <% feature_active_record_parent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.fields_for :has_one_child,
          form.object.has_one_child || FeatureActiveRecord::HasOneChild.new do |has_one_child_field| %>
      <%= has_one_child_field.label :name, 'Has one child name' %>
      <%= has_one_child_field.text_field :name %>

      <%= has_one_child_field.label :_destroy, 'has one child is no need' %>
      <%= has_one_child_field.check_box :_destroy %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
