<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature_active_record_parent.name %>
</p>

<p>
  <strong>HasOneChildName:</strong>
  <%= @feature_active_record_parent.has_one_child&.name %>
</p>

<p>
  <strong>HasManyChildName</strong>
  <% @feature_active_record_parent.has_many_children.each do |has_many_child| %>
    <%= has_many_child.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_feature_active_record_parent_path(@feature_active_record_parent) %> |
<%= link_to 'Back', feature_active_record_parents_path %>
