<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @feature_carrier_wave_user.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @feature_carrier_wave_user.avatar %>
</p>

<%= link_to 'Edit', edit_feature_carrier_wave_user_path(@feature_carrier_wave_user) %> |
<%= link_to 'Back', feature_carrier_wave_users_path %>
